<div id="login-component" class="flex">
    <img src="../../../assets/logo.png" id="logo">
    <h1  class="heading blue" >Your Job Search Starts Here!</h1>
    <form [formGroup]="loginForm!" class="flex">
        <div class="flex">
            <label class="pink">user name:</label>
            <input type="text" formControlName="name" name="name" id="name">
        </div>
        <div class="flex">
            <label class="pink">password:</label>
            <input type="password" formControlName="password" name="password" id="password">
        </div>
        <button type="submit" (click)="login()">Login</button>
    </form>    
</div>
