<h1 *ngIf="jobField == undefined" class="alignCente">All Jobs</h1>
<h1 *ngIf="jobField != undefined" class="alignCente">
  {{ jobFieldEnum[jobField] }}
</h1>
<div id="filtering">
  <div id="filterByField">
    <button (click)="ActivateFieldFilter()">filter By Field</button>
    <label *ngIf="!filterByFieldOn">FilterOff</label>
    <label *ngIf="FieldFilter">{{ FieldFilter }}</label>
    <div id="optionsToFilter" *ngIf="filterByFieldOn">
      <!-- <div *ngFor="let fieldValue of jobFieldEnum | transform">
        <span>{{ fieldValue }}</span>
      </div> -->
    </div>
  </div>
  <div id="filterByArea">
    <button>filter By Area</button>
  </div>
</div>
<div id="allList">
  <div *ngFor="let j of jobsList" id="jobList">
    <app-job
      *ngIf="jobField == undefined || jobField == j.field"
      [job]="j"
    ></app-job>
  </div>
</div>
